*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h3, h2, h1 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-bottom: 1rem;
  line-height: 1.1;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 3rem;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 4.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*buttons*/
.btn {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  padding: 2rem 2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: 0;
  background-color: #0d86ca;
  color: #ffffff;
  font-size: 3rem;
}

.btn--stretched {
  padding-left: 8rem;
  padding-right: 8rem;
}

/*Input*/
.input {
  font-size: 3rem;
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
  outline: 0;
  border-radius: 10px;
}

.input-group {
  border: 1px solid #ffffff;
  border-color: white;
  border-radius: 5rem;
  display: flex;
  width: fit-content;
  overflow: hidden;
}
.input-group .input-group-input {
  border: 0;
  flex-grow: 1;
}
.input-group button {
  background-color: black;
  border: 0;
  padding: 0.6rem;
  cursor: pointer;
}
.input-group img {
  margin: 0;
  background-color: #0d86ca;
  border-radius: 5rem;
  padding: 10px;
}

/*Transparent-blocks*/
/*Local-gym-block*/
.Local-gym-block {
  background-color: black;
}

.Local-gym-block__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Local-gym-block__content h2 {
  margin-bottom: 3rem;
}
.Local-gym-block__content p {
  margin: 1rem 0;
}
.Local-gym-block__content button {
  display: flex;
  align-items: center;
}
.Local-gym-block__content button .loctation-icon {
  margin-right: 2rem;
}

#map {
  height: 100vh;
}

/*Nav-block*/
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem;
  align-items: center;
  background-color: rgba(15, 14, 14, 0.7);
}
nav ul {
  display: flex;
  list-style: none;
  margin: 2rem 0rem;
}
nav li {
  padding: 0rem 2rem;
}
nav a {
  color: #ffffff;
  font-size: 1.6rem;
  transition: color 0.5s;
}
nav a:hover {
  color: #0d86ca;
}

/*Nav-and-hero-block*/
.Nav-and-hero-block {
  background-image: url("/Img/man-g4ed3e5c37_1920.jpg");
}
.Nav-and-hero-block .hero {
  height: 100vh;
}
.Nav-and-hero-block .hero div {
  height: 100%;
  width: 50vw;
  background-color: rgba(15, 14, 14, 0.5);
  position: relative;
}
.Nav-and-hero-block .hero div div {
  height: fit-content;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 15%;
  padding: 0 2rem;
}
.Nav-and-hero-block .hero div div p {
  font-weight: 100;
}

/*Calorie-tracker-block*/
.calorie-calculater-block {
  background-color: black;
}

.Carlorie-tracker {
  padding: 1rem;
}
.Carlorie-tracker .calorie-calculater {
  text-align: center;
  width: 50%;
  padding: 7rem;
  margin: 0 auto;
  background-color: rgba(15, 14, 14, 0.8);
  overflow: hidden;
}
.Carlorie-tracker .calorie-calculater h3 {
  margin-top: 0;
  padding-bottom: 2rem;
}
.Carlorie-tracker .calorie-calculater label {
  margin-right: 1rem;
}
.Carlorie-tracker .calorie-calculater input {
  margin-bottom: 2rem;
}
.Carlorie-tracker .calorie-calculater button {
  width: fit-content;
  align-self: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.Carlorie-tracker .calorie-calculater select {
  padding: 0.5rem;
  background-color: #0d86ca;
  color: #ffffff;
  height: 5rem;
}
.Carlorie-tracker .calorie-calculater div {
  border: solid 0.3rem #0d86ca;
}
.Carlorie-tracker .calorie-calculater div p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.calorie-img {
  background-image: url(/Img/training-g31cb64642_1920.jpg);
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
