*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h3, h2, h1 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-bottom: 1rem;
  line-height: 1.1;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 3rem;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 4.5rem;
}

/*buttons*/
.btn {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  padding: 2rem 2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: 0;
  background-color: #0d86ca;
  color: #ffffff;
  font-size: 3rem;
}

.btn--stretched {
  padding-left: 8rem;
  padding-right: 8rem;
}

/*Input*/
.input {
  font-size: 3rem;
  padding: 1rem 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
  outline: 0;
  border-radius: 10px;
}

.input-group {
  border: 1px solid #ffffff;
  border-color: white;
  border-radius: 5rem;
  display: flex;
  width: fit-content;
  overflow: hidden;
}
.input-group .input-group-input {
  border: 0;
  flex-grow: 1;
}
.input-group button {
  background-color: black;
  border: 0;
  padding: 0.6rem;
  cursor: pointer;
}
.input-group img {
  margin: 0;
  background-color: #0d86ca;
  border-radius: 5rem;
  padding: 10px;
}

/*Transparent-blocks*/
/*Local-gym-block*/
.Local-gym-block {
  background-color: black;
}

.Local-gym-block__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Local-gym-block__content h2 {
  margin-bottom: 3rem;
}
.Local-gym-block__content p {
  margin: 1rem 0;
}
.Local-gym-block__content button {
  display: flex;
  align-items: center;
}
.Local-gym-block__content button .loctation-icon {
  margin-right: 2rem;
}
.Local-gym-block__content ::placeholder {
  font-size: 2rem;
}
.Local-gym-block__content .btn {
  font-size: 2.5rem;
}
.Local-gym-block__content .gym-list {
  height: 30rem;
  overflow: auto;
}
.Local-gym-block__content .gym-list .gym-list__rating {
  color: #0d86ca;
}
.Local-gym-block__content .gym-list__content {
  display: flex;
  border-bottom: 0.5rem solid;
  border-color: white;
}
.Local-gym-block__content .gym-list__content .gym-list__heading {
  margin-right: 2rem;
  font-size: 2.5rem;
}
.Local-gym-block__content .gym-list__content .gym-list__name {
  margin-right: 2rem;
  font-size: 2.5rem;
  color: #0d86ca;
}

#map {
  height: 100vh;
  color: black;
}

/*Nav-block*/
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0;
  align-items: center;
  background-color: rgba(15, 14, 14, 0.7);
}
.nav .nav__icon {
  display: none;
  position: absolute;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav li {
  padding-right: 2rem;
}
.nav a {
  color: #ffffff;
  font-size: 1.6rem;
  transition: color 0.5s;
}
.nav a:hover {
  color: #0d86ca;
}

/*Nav-and-hero-block*/
.Nav-and-hero-block {
  overflow: hidden;
  background-image: url("/Img/man-g4ed3e5c37_1920.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.Nav-and-hero-block .hero {
  overflow: hidden;
}
.Nav-and-hero-block .hero .hero__trasparent-block {
  height: 100vh;
  width: 50vw;
  background-color: rgba(15, 14, 14, 0.5);
  position: relative;
  overflow: hidden;
}
.Nav-and-hero-block .hero .hero__trasparent-block .hero__content {
  height: fit-content;
  width: 80%;
  margin: auto;
  position: absolute;
  background-color: rgba(15, 14, 14, 0.7);
  top: 25%;
  left: 15%;
  padding: 0 2rem;
}
.Nav-and-hero-block .hero .hero__trasparent-block .hero__content p {
  font-weight: 100;
}

/*Calorie-tracker-block*/
.calorie-calculater-block {
  background-color: black;
  height: fit-content;
  background-color: black;
}

.calorie-calculater-block__tracker {
  padding: 1rem;
  overflow: hidden;
  height: fit-content;
}
.calorie-calculater-block__tracker .calorie-calculater-block__calculater {
  text-align: center;
  width: 90%;
  padding: 7rem;
  margin: 0 auto;
  background-color: rgba(15, 14, 14, 0.8);
  overflow: hidden;
}
.calorie-calculater-block__tracker .calorie-calculater-block__calculater h3 {
  margin-top: 0;
  padding-bottom: 2rem;
}
.calorie-calculater-block__tracker .calorie-calculater-block__calculater label {
  margin-right: 1rem;
}
.calorie-calculater-block__tracker .calorie-calculater-block__calculater input {
  margin-bottom: 2rem;
}
.calorie-calculater-block__tracker .calorie-calculater-block__calculater button {
  width: fit-content;
  align-self: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
}
.calorie-calculater-block__tracker .calorie-calculater-block__calculater select {
  padding: 0.5rem;
  background-color: #0d86ca;
  color: #ffffff;
  height: 5rem;
}
.calorie-calculater-block__tracker .calorie-calculater-block__calculater div {
  border: solid 0.3rem #0d86ca;
}
.calorie-calculater-block__tracker .calorie-calculater-block__calculater div p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.calorie-calculater-block__img {
  background-image: url(/Img/training-g31cb64642_1920.jpg);
  height: 100%;
}

/*membership-block*/
.membership-block {
  color: black;
  text-align: center;
}
.membership-block p {
  font-size: 3.6rem;
  font-weight: bold;
}
.membership-block h4 {
  font-size: 7.2rem;
}
.membership-block .membership-block__heading {
  background-color: black;
  box-shadow: 10px 10px white;
  color: #ffffff;
}

/*Footer*/
.footer-block {
  padding: 5rem;
  background-color: black;
}
.footer-block .footer-block__logo {
  text-align: center;
  padding-right: 5rem;
  color: gray;
}
.footer-block .footer-block__logo:hover {
  color: #0d86ca;
}
.footer-block .footer-block__content {
  margin-right: 1.5rem;
}
.footer-block .footer-block__content h5 {
  font-family: "Poppins", sans-serif;
  font-size: 3.6rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.footer-block .footer-block__content ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.footer-block .footer-block__content a {
  color: gray;
}
.footer-block .footer-block__content a:hover {
  color: #0d86ca;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid--1x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid--1x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/*Nav-block*/
@media screen and (max-width: 700px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav .nav__icon {
    height: 6rem;
    display: flex;
    top: 0.75rem;
    right: 1rem;
    background-color: white;
  }
  .nav .nav__content {
    width: 100%;
    height: 0rem;
    overflow: hidden;
  }
  .nav ul {
    width: 100%;
    flex-direction: column;
    padding: 0;
    text-align: center;
    margin: 0;
  }
  .nav .nav__content-open {
    height: 100%;
  }
}
/*Nav-and-hero-block*/
@media screen and (max-width: 700px) {
  .Nav-and-hero-block .hero {
    overflow: hidden;
  }
  .Nav-and-hero-block .hero .hero__trasparent-block {
    width: 100vw;
    overflow: hidden;
  }
  .Nav-and-hero-block .hero .hero__trasparent-block .hero__content {
    bottom: 15%;
    left: 10%;
    overflow: hidden;
  }
  .Nav-and-hero-block .hero .hero__trasparent-block .hero__content h1 {
    font-size: 6.5rem;
  }
}
/*Local-gym-block*/
@media screen and (max-width: 700px) {
  .Local-gym-block {
    overflow: hidden;
  }

  .Local-gym-block__content {
    max-width: 370px;
    margin: 0 auto;
  }
  .Local-gym-block__content .input-group {
    max-width: inherit;
  }
  .Local-gym-block__content .input-group .input-group-input {
    width: 40vw;
  }
  .Local-gym-block__content .input-group ::placeholder {
    font-size: 1.6rem;
  }
  .Local-gym-block__content .btn {
    width: 90%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
/*Calorie-tracker-block*/
@media screen and (max-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  input {
    width: 60vw;
  }

  .calorie-calculater-block__img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
  }
}
/*membership-block*/
@media screen and (max-width: 700px) {
  .membership-block h4 {
    font-size: 5rem;
  }
}
/*Footer*/
@media screen and (max-width: 700px) {
  .footer-block .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-block .footer-block__logo {
    order: 2;
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
