@import "Default";
@import "Colorpalette";
@import "Typography";
@import "Mobile";

/*buttons*/
%button-shared {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  padding: 2rem 2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: 0;
  background-color: $Color-secondery;
  color: $Color-body;
  font-size: 3rem;
}

.btn {
  @extend %button-shared;
}

.btn--stretched {
  padding-left: 8rem;
  padding-right: 8rem;
}
/*Input*/

%input-shared {
  font-size: 3rem;
  padding: 1rem 0;
  font-family: $font-body;
  font-weight: 300;
  border-color: $Color-body;
  background-color: transparent;
  color: $Color-body;
  outline: 0;
  border-radius: 10px;
}

.input {
  @extend %input-shared;
}

.input-group {
  border: 1px solid $Color-body;
  border-color: white;
  border-radius: 5rem;
  display: flex;
  width: fit-content;
  overflow: hidden;
  .input-group-input {
    border: 0;
    flex-grow: 1;
  }
  button {
    background-color: $Color-primary;
    border: 0;
    padding: 0.6rem;
    cursor: pointer;
  }
  img {
    margin: 0;
    background-color: $Color-secondery;
    border-radius: 5rem;
    padding: 10px;
  }
}

/*Transparent-blocks*/
@function transparent($transPercentage) {
  @return rgba(15, 14, 14, $transPercentage);
}

/*Local-gym-block*/
.Local-gym-block {
  background-color: $Color-primary;
}

.Local-gym-block__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  h2 {
    margin-bottom: 3rem;
  }
  p {
    margin: 1rem 0;
  }
  button {
    display: flex;
    align-items: center;
    .loctation-icon {
      margin-right: 2rem;
    }
  }
}

#map {
  height: 100vh;
}

/*Nav-block*/
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem;
  align-items: center;
  background-color: transparent(70%);
  ul {
    display: flex;
    list-style: none;
    margin: 2rem 0rem;
  }

  li {
    padding: 0rem 2rem;
  }
  a {
    color: $Color-body;
    font-size: 1.6rem;
    transition: color 0.5s;
    &:hover {
      color: $Color-secondery;
    }
  }
}

/*Nav-and-hero-block*/
.Nav-and-hero-block {
  background-image: url("/Img/man-g4ed3e5c37_1920.jpg");

  .hero {
    height: 100vh;

    div {
      height: 100%;
      width: 50vw;
      background-color: transparent(50%);
      position: relative;

      div {
        height: fit-content;
        width: 80%;
        margin: auto;
        position: absolute;
        top: 25%;
        left: 15%;
        padding: 0 2rem;

        p {
          font-weight: 100;
        }
      }
    }
  }
}

/*Calorie-tracker-block*/
.calorie-calculater-block {
  background-color: $Color-primary;
}
.Carlorie-tracker {
  padding: 1rem;
  .calorie-calculater {
    text-align: center;
    width: 50%;
    padding: 7rem;
    margin: 0 auto;
    background-color: transparent(80%);
    overflow: hidden;

    h3 {
      margin-top: 0;
      padding-bottom: 2rem;
    }

    label {
      margin-right: 1rem;
    }

    input {
      margin-bottom: 2rem;
    }

    button {
      width: fit-content;
      align-self: center;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    select {
      padding: 0.5rem;
      background-color: $Color-secondery;
      color: $Color-body;
      height: 5rem;
    }
    div {
      border: solid 0.3rem $Color-secondery;
      p {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}
.calorie-img {
  background-image: url(/Img/training-g31cb64642_1920.jpg);

  height: 100%;
}
