@import "Colorpalette";
@import "Typography";
@import "Default";
@import "Mobile";

/*buttons*/
%button-shared {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  padding: 2rem 2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: 0;
  background-color: $Color-secondery;
  color: $Color-body;
  font-size: 3rem;
}

.btn {
  @extend %button-shared;
}

.btn--stretched {
  padding-left: 8rem;
  padding-right: 8rem;
}
/*Input*/

%input-shared {
  font-size: 3rem;
  padding: 1rem 0;
  font-family: $font-body;
  font-weight: 300;
  border-color: $Color-body;
  background-color: transparent;
  color: $Color-body;
  outline: 0;
  border-radius: 10px;
}

.input {
  @extend %input-shared;
}

.input-group {
  border: 1px solid $Color-body;
  border-color: white;
  border-radius: 5rem;
  display: flex;
  width: fit-content;
  overflow: hidden;
  .input-group-input {
    border: 0;
    flex-grow: 1;
  }
  button {
    background-color: $Color-primary;
    border: 0;
    padding: 0.6rem;
    cursor: pointer;
  }
  img {
    margin: 0;
    background-color: $Color-secondery;
    border-radius: 5rem;
    padding: 10px;
  }
}
