@import "Default";
@import "Colorpalette";
@import "Typography";

/*buttons*/
%button-shared {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  padding: 2rem 2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: 0;
  background-color: $Color-secondery;
  color: $Color-body;
  font-size: 3rem;
}

.btn {
  @extend %button-shared;
}

.btn--stretched {
  padding-left: 8rem;
  padding-right: 8rem;
}
/*Input*/

%input-shared {
  font-size: 3rem;
  padding: 1rem 1rem;
  font-family: $font-body;
  font-weight: 300;
  border-color: $Color-body;
  background-color: transparent;
  color: $Color-body;
  outline: 0;
  border-radius: 10px;
}

.input {
  @extend %input-shared;
}

.input-group {
  border: 1px solid $Color-body;
  border-color: white;
  border-radius: 5rem;
  display: flex;
  width: fit-content;
  overflow: hidden;
  .input-group-input {
    border: 0;
    flex-grow: 1;
  }
  button {
    background-color: $Color-primary;
    border: 0;
    padding: 0.6rem;
    cursor: pointer;
  }
  img {
    margin: 0;
    background-color: $Color-secondery;
    border-radius: 5rem;
    padding: 10px;
  }
}

/*Transparent-blocks*/
@function transparent($transPercentage) {
  @return rgba(15, 14, 14, $transPercentage);
}

/*Local-gym-block*/
.Local-gym-block {
  background-color: $Color-primary;
}

.Local-gym-block__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  h2 {
    margin-bottom: 3rem;
  }
  p {
    margin: 1rem 0;
  }
  button {
    display: flex;
    align-items: center;
    .loctation-icon {
      margin-right: 2rem;
    }
  }
  ::placeholder {
    font-size: 2rem;
  }
  .btn {
    font-size: 2.5rem;
  }
}

#map {
  height: 100vh;
}

/*Nav-block*/
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0;
  align-items: center;
  background-color: transparent(70%);

  .nav__icon {
    display: none;
    position: absolute;
  }
  ul {
    display: flex;
    list-style: none;
  }

  li {
    padding-right: 2rem;
  }
  a {
    color: $Color-body;
    font-size: 1.6rem;
    transition: color 0.5s;
    &:hover {
      color: $Color-secondery;
    }
  }
}

/*Nav-and-hero-block*/
.Nav-and-hero-block {
  overflow: hidden;
  background-image: url("/Img/man-g4ed3e5c37_1920.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

  .hero {
    overflow: hidden;

    .hero__trasparent-block {
      height: 100vh;
      width: 50vw;
      background-color: transparent(50%);
      position: relative;
      overflow: hidden;

      .hero__content {
        height: fit-content;
        width: 80%;
        margin: auto;
        position: absolute;
        background-color: transparent(70%);
        top: 25%;
        left: 15%;
        padding: 0 2rem;

        p {
          font-weight: 100;
        }
      }
    }
  }
}

/*Calorie-tracker-block*/
.calorie-calculater-block {
  background-color: $Color-primary;
  height: fit-content;
  background-color: $Color-primary;
}
.calorie-calculater-block__tracker {
  padding: 1rem;
  overflow: hidden;
  height: fit-content;
  .calorie-calculater-block__calculater {
    text-align: center;
    width: 90%;
    padding: 7rem;
    margin: 0 auto;
    background-color: transparent(80%);
    overflow: hidden;

    h3 {
      margin-top: 0;
      padding-bottom: 2rem;
    }

    label {
      margin-right: 1rem;
    }

    input {
      margin-bottom: 2rem;
    }

    button {
      width: fit-content;
      align-self: center;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    select {
      padding: 0.5rem;
      background-color: $Color-secondery;
      color: $Color-body;
      height: 5rem;
    }
    div {
      border: solid 0.3rem $Color-secondery;
      p {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}
.calorie-calculater-block__img {
  background-image: url(/Img/training-g31cb64642_1920.jpg);

  height: 100%;
}
/*membership-block*/
.membership-block {
  color: $Color-primary;
  text-align: center;
  p {
    font-size: 3.6rem;
    font-weight: bold;
  }
  h4 {
    font-size: 7.2rem;
  }

  .membership-block__heading {
    background-color: $Color-primary;
    box-shadow: 10px 10px white;
    color: $Color-body;
  }
}
/*Footer*/
footer {
  padding: 5rem;
  background-color: $Color-primary;

  .footer__logo {
    text-align: center;
    padding-right: 5rem;
  }

  h5 {
    font-family: $font-heading;
    font-size: 3.6rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  a {
    color: gray;
    &:hover {
      color: $Color-secondery;
    }
  }
}

@import "Mobile";
