<section class="calorie-calculater-block grid grid--1x2">
  <div class="calorie-calculater-block__tracker">
    <div class="calorie-calculater-block__calculater">
      <h3>Day calorie calculater</h3>
      <label for="html">Age</label>
      <br />
      <input type="text" class="input" id="Age" placeholder="Age..." />
      <br />
      <label for="html">Height</label>
      <br />
      <input
        type="text"
        class="input"
        id="Height"
        placeholder="Heigh in cm..."
      />
      <br />
      <label for="html">Weight</label>
      <br />
      <input
        type="text"
        class="input"
        id="Weight"
        placeholder="Weight in Kg..."
      />
      <br />
      <label for="cars">Gender</label>
      <select name="cars" id="Gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <br />
      <button class="btn" id="Btn-calc">Calculate</button>
      <div>
        <p>Daily Calorie intake:</p>
        <p id="Day-calorie"></p>
      </div>
    </div>
  </div>
  <div class="calorie-calculater-block__img"></div>
</section>
