<section class="Nav-and-hero-block">
  <nav>
    <a aria-label="Fitix" href="/"><img src="/Img/Logo.svg" alt="" /></a>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Diet plans</a></li>
      <li><a href="#">Exercises</a></li>
    </ul>
  </nav>
  <div class="hero">
    <div class="trasparent">
      <div>
        <h1>Health is wealth</h1>
        <p>
          All in one at Fitix, get the latest exercises, diets, workout plans,
          track caliures etc.
        </p>
        <button class="btn">Check IT OUT</button>
        <p></p>
      </div>
    </div>
  </div>
</section>
